/* Existing styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar styles */
.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #f0f0f0;
}

.navbar-dark .navbar-brand {
  color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTAgMEgxOFYxOEwwIDBMIDggOUwgMTggME0wIDB6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
}
